$white:                       #FFF !default;
$black:                       #000 !default;

$blue-high-dark:              #4A89DC !default;
$blue-high-light:             #5D9CEC !default;

$blue-low-dark:               #3BAFDA !default;
$blue-low-light:              #4FC1E9 !default;

$green-high-dark:             #8CC152 !default;
$green-high-light:            #A0D468 !default;

$green-low-dark:             #37BC9B !default;
$green-low-light:             #48CFAD !default;

$yellow-dark:                 #F6BB42 !default;
$yellow-light:                #FFCE54 !default;

$red-low-dark:                #E9573F !default;
$red-low-light:               #FC6E51 !default;

$red-high-dark:               #DA4453 !default;
$red-high-light:              #ED5565 !default;

$purple-low-dark:             #967ADC !default;
$purple-low-light:            #AC92EC !default;

$purple-high-dark:            #D770AD !default;
$purple-low-light:            #EC87C0 !default;

$gray-low-dark:               #E6E9ED !default;
$gray-low-light:              #F5F7FA !default;

$gray-medium-dark:            #AAB2BD !default;
$gray-medium-light:           #CCD1D9 !default;

$gray-high-dark:              #434A54 !default;
$gray-high-light:             #656D78 !default;
